@font-face {
  font-family: "Inter";
  src: url("./Inter.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-white: #ffffff;
  --color-gray: #f1f2f3;
  --color-black: #202020;
  --color-light-blue: #22aaee;
  --color-light-blue-background: #90d4f6;
  --color-blue: #0077ff;
  --color-blue-background: #7fbaff;
  --color-dark-blue: #18A0E4;
  --color-violet-background: #baa9f6;
  --color-violet: #7755ee;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--color-black);
  background-color: var(--color-gray);
}

h1 {
  font-size: 4em;
  font-weight: 700;
}

main h2 {
  font-size: 3em;
  font-weight: 700;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-light-blue);
  color: var(--color-white);
  padding: 2em 4em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}

.header a {
  color: white;
  text-decoration: none;
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.header__logo-title {
  font-size: 3em;
  font-weight: 700;
}

.header__menu-list {
  display: flex;
  column-gap: 1em;
  font-size: 1.25em;
}

.header__menu-link {
  padding: 0.5em;
  border-radius: 0.5em;
  transition-duration: 0.2s;
}

.header__menu-link--active {
  background-color: var(--color-white);
  color: var(--color-black) !important;
}

.header__menu-link:hover:not(.header__menu-link--active) {
  background-color: var(--color-dark-blue);
}

main {
  padding: 3em 8em;
}

main a {
  text-decoration: none;
  color: inherit;
}

main > section {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  align-items: center;
}

main > section > div,
main > section > nav,
main > section > p {
  width: 90%;
}

main > section:not(.catalog) {
  margin-bottom: 3em;
}

main > section.catalog:not(:last-child):after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background-color: var(--color-black);
  border-radius: 4px;
  margin-block: 2em;
}

.about__content {
  font-size: 1.25em;
  text-align: center;
}

.menu__content-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
}

.menu-card {
  background-color: var(--color-white);
  border-radius: 2em;
  padding: 1.25em;
  display: flex;
  flex-direction: column;
  row-gap: 0.25em;
  align-items: center;
  text-align: center;
  height: 100%;
  transition-duration: 0.2s;
}

.menu-card:hover {
  transform: scale(1.05);
}

.page-menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: center;
}

.page-menu__item {
  padding: 0.5em;
  background-color: var(--color-light-blue);
  color: var(--color-white);
  border-radius: 0.5em;
  transition-duration: 0.2s;
}

.page-menu__item:hover {
  transform: scale(1.05);
}

.catalog__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}

.card {
  display: flex;
  column-gap: 1.25em;
  background-color: var(--color-white);
  border-radius: 2em;
  padding: 1.25em;
  transition-duration: 0.2s;
  height: 100%;
}

.card:hover {
  transform: scale(1.05);
}

.card svg {
  width: 40px;
  height: 40px;
  stroke: var(--color-violet);
}

.card__icon-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  padding: 1em;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color-violet-background);
  color: var(--color-violet);
  font-weight: 700;
  border-radius: 0.75em;
}

.card--telegram > .card__icon-wrapper {
  background-color: var(--color-light-blue-background);
  color: var(--color-light-blue);
}

.card--vk > .card__icon-wrapper {
  background-color: var(--color-blue-background);
  color: var(--color-blue);
}

.card__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.5em;
}

.card__title {
  font-size: 1.25em;
  font-weight: 700;
}

.card__description {
  font-size: 0.875em;
}